<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" href="/js/jquery.xdomainrequest.min.js">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.sorted.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/ckform.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
    <script type="text/javascript" src="/js/ajax.js"></script>
    <script type="text/javascript" src="/js/ajax.js"></script>
    <style type="text/css">
        body {
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }

        @media (max-width: 980px) {
            /* Enable use of floated navbar text */
            .navbar-text.pull-right {
                float: none;
                padding-left: 5px;
                padding-right: 5px;
            }
        }


    </style>
</head>
<body>

<form class="form-inline definewidth m20" action="/admin/jiaose/add" method="post">
    <input type="submit" value="新增角色" class="btn btn-success" id="addnew">
</form>


<table class="table table-bordered table-hover definewidth m10">
    <tr>
        <th style="width:10%">选择</th>
        <th style="width:10%">角色ID</th>
        <th style="width:10%">角色名称</th>
        <th style="width:40%">角色权限</th>
        <th style="width:20%">编辑</th>
    </tr>
</table>
<table id="table" class="table table-bordered table-hover definewidth m10" id="table">
<!--<form action="/admin/node/duoshan" method="post">
      <tr>
    <th>选择</th>
    <th>ID</th>
    <th>板块名称</th>
    <th>板块图标</th>
    <th>管理操作</th>
</tr>

    <tr>
   <td><button>删除</button></td>
   <td></td>
   <td></td>
   <td></td>
   <td></td>
    </tr>
    </form> -->

</table>
    <div id="page" style="text-align: center">
        <a href="" class="a">首页</a>
        <a href="" class="a">上一页</a>
        <a href="" class="a">下一页</a>
        <a href="" class="a">尾页</a>
        <!-- <a href="javascript:test('http://localhost:80/php1714/gaoji/day22/list.php?rand=0.2561276820402456&page=5')"></a> -->
    </div>
</body>
</html>
<script>




var oTable = document.getElementById('table');
var aA = document.getElementsByClassName('a');
    ajax({
        method:'get',
        url:'/admin/jiaose/index1',
        async:true,
        data:{page:1},
        success:success
    });

    function success(data)
    {
        function Lond_ckeck(objname){
         obj = document.getElementsByName(objname);
        checkval = [];
        for(k in obj){
            if(obj[k].checked)
                checkval.push(obj[k].value);
        }
        return checkval;
    }
        
        
        oTable.innerHTML = '';
        var obj = JSON.parse(data);
        console.log(obj.quanxian);
        for(var i in obj.data){
            //console.log(obj.data);
            var oTr = document.createElement('tr');
            var oTd6 = document.createElement('td');
            oTd6.style="width:10%";

            if (obj.data[i].rid != 1) {
                var oBox = document.createElement('input');
                oBox.type="checkbox";
                oBox.name='rid';
                oBox.value = obj.data[i].rid;
                oTd6.appendChild(oBox);
                oTr.appendChild(oTd6);
            }else {
                var oBox = document.createElement('a');
                
                oTd6.appendChild(oBox);
                oTr.appendChild(oTd6);
            }
            

            var oTd1 = document.createElement('td');
            oTd1.innerHTML = obj.data[i].rid;
            oTd1.style="width:10%";
            var oTd2 = document.createElement('td');
            oTd2.innerHTML = obj.data[i].rolename;
            oTd2.style="width:10%";
            var oTd4 = document.createElement('td');
            var quan = '';
            for(var j in obj.quanxian){
                if (obj.quanxian[j].role_id == obj.data[i].rid) {
                    if (quan == '') {
                        quan = obj.quanxian[j].name;
                    } else {
                        quan = quan + ',' + obj.quanxian[j].name;
                    }
                }
            }
            oTd4.innerHTML = quan;
            oTd4.style="width:40%";
            var oTd13 = document.createElement('td');
            var oA2 = document.createElement('a');
            if (obj.data[i].rid != 1) {
                oA2.innerHTML = '删除';
            }
            oA2.href='/admin/jiaose/del?rid='+obj.data[i].rid;
            oTd13.style="width:20%";
            var oA3 = document.createElement('a');
            oA3.style="margin-left:15px";
            
            

            var oA4 = document.createElement('a');
            oA4.style="margin-left:15px";
            if (obj.data[i].rid != 1) {
                oA4.innerHTML = '权限修改';
            }
            oA4.href="/admin/jiaose/edit?rid="+obj.data[i].rolename+'&id='+obj.data[i].rid;
            

            oTd13.appendChild(oA2);
            oTd13.appendChild(oA3);
            oTd13.appendChild(oA4);
            oTr.appendChild(oTd1);
            oTr.appendChild(oTd2);
            oTr.appendChild(oTd4);
            oTr.appendChild(oTd13);
            oTable.appendChild(oTr);
        }
        var oTr2 = document.createElement('tr');
        var oTd7 = document.createElement('td');
        var oTd8 = document.createElement('td');
        var oTd9 = document.createElement('td');
        var oTd10 = document.createElement('td');
        var oTd11 = document.createElement('td');
        var oTd12 = document.createElement('td');
        var oTd13 = document.createElement('td');
        var oBtn = document.createElement('button');
        oBtn.innerHTML='删除';
        oTd7.appendChild(oBtn);
        oTr2.appendChild(oTd7);
        oTr2.appendChild(oTd8);
        oTr2.appendChild(oTd9);
        oTr2.appendChild(oTd10);
        oTr2.appendChild(oTd11);
        oTable.appendChild(oTr2);
        var oPage =  obj.allPage;
        var i = 0;
        for (var name in oPage) {
            //console.log(name);
            aA[i].href = 'javascript:test(\'' +oPage[name] +'\')';
            i++;
        }
        oBtn.onclick = function(){
          var rid = (Lond_ckeck('rid'));
          //alert(uid);
         ajax({
            method:'post',
            url:'/admin/jiaose/duoshan',
            async:true,
            data:{rid:rid},
            success:success
        });
         function success(data)
         {
            //console.log(data);
            var obj = JSON.parse(data);
            if(obj.sta == 1){
                alert('删除成功');
            }else if(obj.sta == 0){
                alert('删除失败');
            }else if(obj.sta == 2){
                alert('请选择要删除的数据');
            }
         }
    }


}

    function test(url)
    {
        $.ajax({
            method:'get',
            url:url,
            async:true,
            data:null,
            success:success
        });
    }



</script>