<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

  <head>

    <title>登录 - AcFun弹幕视频网</title>

    <link rel="stylesheet" href="/css/core.css">
    <script type="text/javascript" src="  http://open.51094.com/user/myscript/15a745a3492639.html"></script>
    <!--[if lte IE 7]>
      <link rel="stylesheet" href="css/font-awesome-ie7.min.css"></link>
    <![endif]-->
    <!--[if (gte IE 8)|!(IE)]>
      <!-->
      <link rel="stylesheet" href="/css/font-awesome.min.css"></link>
    <!--<![endif]-->
    <!--[if lte IE 7]>
      <link rel="stylesheet" href="css/style-ie7.css"></link>
    <![endif]-->
    <!--[if (gte IE 8)|!(IE)]>
      <!-->
      <link rel="stylesheet" href="/css/style.css"></link>
    <!--<![endif]-->
    <link rel="stylesheet" href="/css/style_1.css"></head>

  <body>
    <!-- Google Tag Manager -->
    {include file="index/top" /}

      <div id="mainer1">
        <input id="rightNum" type="hidden" value="0">
        <div id="mainer-inner">
          <div id="area-login">
            <div class="block l">
              <div class="bg-login"></div>
            </div>
            <div class="block r">
              <div class="area-login">
                <div class="after-login">
                  <a class="thumb">
                    <img src="/picture/avatar.jpg" class="avatar"></a>
                  <p class="welcom">欢迎回来
                    <br>
                    <span class="username"></span></p>
                  <p class="notice">
                    <span>3</span>秒后自动跳转至首页...</p></div>
                <form action="/index/user/loginIn" method="post">
                <div id="form-login" data-focus="auto" data-save="form-login" class="form">
                  <h3 class="title">登录 AcFun
                    <!-- <a href="/info/#page=help" target="_blank" class="area-login-help"></a> --></h3>
                  <div class="area">
                    <i class="inp-icon icon icon-user"></i>
                    <input id="ipt-account-login" type="text" value="" name="username" placeholder="请输入账号" data-direction="right" spellcheck="false" autocomplete="off" data-name="账号" required="required" class="name l">
                    <span class="clearfix"></span>
                  </div>
                  <div class="area">
                    <i class="inp-icon icon icon-lock"></i>
                    <input id="ipt-pwd-login" type="password" value="" name="password" data-direction="right" autocomplete="off" data-name="密码" placeholder="请输入密码" required="required" data-length="6,32" class="password l">
                    <span class="clearfix"></span>
                  </div>
                  <div class="area-tool">
                    <input type="submit" value="登录" class="btn-login btn success do l">
                    <a href="/index/user/reg" class="btn r">注册</a>
                    <span class="clearfix"></span>
                  </div>
                </div>
                </form>
                <div class="other-login">
                  <!-- <a><img src="/images/timg.jpg" style="width:35px;height:35px;margin-left:-150px" title="扣扣登录"/></a> -->
                  <!--span.l 使用第三方账号登录-->
                  <!--a#btn-login-sina.l(href="/loginbysina.aspx", title="使用新浪微博账号登录")-->
                  <!-- img(src="#{path}/project/sanae/style/image/weibo-reg.png")-->
                  <!--a#btn-login-tencent.l(href="/loginbyqq.aspx", title="使用腾讯QQ账号登录")-->
                  <!-- img(src="#{path}/project/sanae/style/image/qq-reg.png")-->
                  <a href="/index/user/forgot/" target="_blank" class="inro r">忘记密码?</a>
                  <span class="clearfix"></span>
                </div>
                <div class="other">
                  其它账号登录:<span id="hzy_fast_login"></span>
                </div>
                <div id="area-prompt" class="area-prompt">
                  <span class="text"></span>
                  <span class="txt"></span>
                  <a id="contractServer" class="contactTxt">联系客服猴姬</a>
                  <img src="/picture/question.png">
                  <div class="prompt-wrap">
                    <div class="icon-wrap">
                      <span class="icon-point"></span>
                    </div>
                    <p>登录遇到麻烦？请联系客服猴姬
                      <br>官方客服QQ : 800055564 (10:00-19:00)</p>
                    <span id="close-prompt" class="close"></span>
                  </div>
                </div>
              </div>
            </div>
            <span class="clearfix"></span>
          </div>
        </div>
      </div>
      <span class="clearfix"></span>
      <div id="footer">
        <div id="footer-inner">
          <div class="top-footer">
            <div class="l">
              <div class="unit unit-0">
                <div class="a">合作</div>
                <div class="b">
                  <a id="" target="_blank" href="/info/#page=about" data-id="" class="a-0">关于我们</a>
                  <a id="" target="_blank" href="/info/#page=contact" data-id="" class="a-1">联系我们</a>
                  <a id="" target="_blank" href="/info/#page=joinus" data-id="" class="a-2">AC招聘</a></div>
                <span class="clearfix"></span>
              </div>
              <div class="unit unit-1">
                <div class="a">官方</div>
                <div class="b">
                  <a id="" target="_blank" href="http://weibo.com/danmushipin/" data-id="" class="a-0">新浪微博</a>
                  <a id="" target="_blank" href="http://tb.am/cbaz8" data-id="" class="a-1">官方网店</a>
                  <a id="" target="_blank" href="/gamecenter" data-id="1" class="a-2 gamePortal">游戏中心</a>
                  <a id="" target="_blank" href="javascript:void(0);" data-id="" class="a-3">微信公众号</a></div>
                <span class="clearfix"></span>
              </div>
              <div class="unit unit-2">
                <div class="a">下载</div>
                <div class="b">
                  <a id="app-footer-link" target="_blank" href="/app/" data-id="">移动客户端
                    <span class="bg-new-app"></span></a>
                  <a id="" target="_blank" href="/emot/" data-id="" class="a-1">AC娘表情包</a></div>
                <span class="clearfix"></span>
              </div>
              <div class="unit unit-3">
                <div class="a">友情链接</div>
                <div class="b">
                  <a id="" target="_blank" href="http://lg.dianbo.me/index.php" data-id="" class="a-0">AC大逃杀</a></div>
                <span class="clearfix"></span>
              </div>
              <div class="unit unit-4">
                <div class="a">反馈</div>
                <div class="b">
                  <a id="" target="_blank" href="/feedback/" data-id="" class="a-0">意见反馈</a>
                  <a id="" target="_blank" href="/report/" data-id="" class="a-1">举报</a>
                  <a id="" target="_blank" href="/about/help" data-id="" class="a-2">帮助中心</a>
                  <a id="" target="_blank" href="/info/#page=disclaimer" data-id="" class="a-3">免责声明</a>
                  <a id="" target="_blank" href="/info/#page=agreement" data-id="" class="a-4">用户协议</a>
                  <a id="" target="_blank" href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzgwMDA1NTU2NF8zMDU4NzZfODAwMDU1NTY0XzJf" data-id="" class="a-5">联系客服</a></div>
                <span class="clearfix"></span>
              </div>
              <div class="erweima">
                <div class="arrow-top"></div>
                <img src="/picture/erweima_2.jpg" width="140px" height="140px"></div>
              <span class="clearfix"></span>
              <div class="arrow-right"></div>
            </div>
            <div class="r">
              <div id="avatar-ac-footer" class="">
        <img src="/picture/29.gif">
        </div>
            </div>
            <span class="clearfix"></span>
          </div>
          <div class="bottom-footer">
            <ul id="explain">
              <li>
                <p class="report">
                  <span class="reportImg"></span>
                  <a href="http://www.12377.cn/" target="_blank">中国互联网举报中心</a></p>
                <p class="inter">
                  <span class="reportImg"></span>
                  <span>网络文化经营单位</span></p>
                <p class="public">
                  <span class="reportImg"></span>
                  <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502032340" target="_blank">京公网安备 11010502032340号</a></p>
              </li>
              <li>
                <p>
                  <span>京ICP备15067359号</span></p>
                <p>
                  <a href="http://www.bjjubao.org/" target="_blank">北京互联网举报中心</a></p>
                <p>
                  <a href="http://www.bjwhzf.gov.cn/accuse.do" target="_blank">北京12318文化市场举报热线</a></p>
              </li>
              <li>
                <p>
                  <span>节目制作经营许可证（京）字第05158号</span></p>
                <p>
                  <a href="http://www.cyberpolice.cn" target="_blank">公安部网络违法犯罪举报网站</a></p>
              </li>
              <li>
                <p>
                  <a href="//www.miitbeian.gov.cn/" target="_blank">京ICP证161323号</a></p>
                <p>
                  <a href="/about/qualification" target="_blank">京网文[2016]0948-099号</a></p>
                <p class="hidden"></p>
              </li>
              <div style="clear:both"></div>
            </ul>
            <a id="a-logo-footer" href="/"></a>
            <p>本站不提供任何视听上传服务，所有内容均来自视频分享站点所提供的公开引用资源。Copyright © 2007-2017 AcFun. 保留所有权利</p>
          </div>
          <p id="hint-time-released" data-time="2018.1.26 18:00:17" class="hidden">Released at 2018.1.26 18:00:17.</p></div>
      </div>
    </div>
    <!-- -ad-->
    <!-- <script>var globalConfig = {
        version: "1.2.103"
      };</script> -->
    <!--output-->
    <!--[if lt IE 8]>
      <script src="js/cf8c91fd63624dec96080b51431c0391.js"></script>
    <![endif]-->
    <!--[if IE 8]>
      <script src="js/e40b8b229a9e4027a18c565a4de5ae5b.js"></script>
    <![endif]-->
    <!--[if (gte IE 9)|!(IE)]>
      <!-->
      <!-- <script src="js/8f0f0b14f2544ab09b00b2b3a219a9b0.js"></script>
          <![endif]
          <script>var path = {
        base: "http://www.acfun.cn",
        cdn: "http://cdn.aixifan.com",
        ssl: "https://ssl.acfun.tv",
        api: "http://api.acfun.cn"
      },
      date = 1516861064027;</script>
          <script src="js/1e3a3712f62d4199b620ad31ec3564fb.js"></script>
          <script src="js/6c2426e3dee6442daa2d659e8b392ff3.js"></script>
          <script>(function() {
        var updateTime = +new Date(2015, 6, 21); //- 注意月份 -1
        if ($.now() - updateTime < 5 * 24 * 60 * 60 * 1000) {
          $('#app-footer-link>.bg-new-app').addClass('new');
        }
      })();</script>
          <script src="js/login.min.js"></script> -->
  </body>

</html>